* {
  background-color: auto;
}
body {
  background-color: white;
}

.App {
  font-size: 14px;
  font-family: "Helvetica", sans-serif;
}

.light-mode {
  background-color: white;
  color: black;
  margin: 5%;
}

.dark-mode {
background-color: black;
color: white;
margin: 5%;
}

/* Header */
header {
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  margin: 0;
}