* {
  background-color: auto;
}
body {
  background-color: white;
}

.App {
  font-size: 14px;
  font-family: "Helvetica", sans-serif;
}

.delete-btn {
  background: transparent;
  border: none;
}

.edit-btn {
  background: transparent;
  border: none;
}