.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
background-color: black;
color: white;
}

body {
  font-size: 14px;
  font-family: "Helvetica", sans-serif;
  background-color: rgb(155, 155, 155);
  height: 1000px;
  color: var(--main-font-color);
  background-color: var(--bg-color-1);
  transition: all 0.5s;
}

/* Header */
header {
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  margin: 0;
}